.notification-container {
    display: flex;
    flex-direction: column;
    background-color: #F1F5F7;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh -70px);
    overflow: auto;
}

.notification-container .notif-top {
    justify-content: left;
    width: 838px;
    margin-left: 3px;
}

.notification-container .notif-top .notification-heading {
    position: relative;
    margin-top: 110px;
    margin-left: 10px;
}

.notification-container .notif-top .notification-heading span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.notification-container .all-cards {
    margin-bottom: 200px;
}

.notification-container .notif-card {
    margin-top: 30px;
}