.temp {
    overflow: auto;
}

.temp ::-webkit-scrollbar {
    display: none;
}

.newquestion1-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #fff;
    overflow: auto;
    height: 600px;
}

.newquestion1-container ::-webkit-scrollbar {
    display: none;
}

.newquestion1-container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 78px;
    border-bottom: 1px solid #DDDDDD;
}

.newquestion1-container .header .title {
    display: flex;
}

.newquestion1-container .header .title img {
    width: 48px;
    height: 48px;
}

.newquestion1-container .header .title .group {
    margin-left: 10px;
}

.newquestion1-container .header .title .group span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
}

.newquestion1-container .header .title .group p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 3px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #696767;
}

.newquestion1-container .header .btn-container {
    display: flex;
    flex-direction: row;
}

.newquestion1-container .header .back {
    display: flex;
}

.newquestion1-container .header .back {
    background: #FF6812;
    border-radius: 2px;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    /* justify-content: center; */
    margin-left: 20px;
    width: 107px;
    border: none;
}

.newquestion1-container .header .back img {
    margin-right: 10px;
    margin-left: 15px;
}

.newquestion1-container .header .next {
    display: flex;
}

.newquestion1-container .header .next {
    background: #00c49a;
    border-radius: 2px;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    /* justify-content: center; */
    margin-left: 20px;
    width: 107px;
    border: none;
}

.newquestion1-container .header .next img {
    margin-right: 10px;
    margin-left: 15px;
}

.newquestion1-container .newquestion1-form .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 29px;
    width: 100%;
}


.newquestion1-container .newquestion1-form .row .input {
    width: 100%;
}

.newquestion1-container .newquestion1-form .row .input span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}


.newquestion1-container .newquestion1-form .row .input textarea {
    display: flex;
    flex-direction: column;
    border: 1px solid #DDDDDD;
    /* width: 370px; */
    width: 95%;
    height: 180px;
    margin-top: 9px;
    padding: 30px 20px;
    /* margin: 0px 24px; */
}

.newquestion1-container .newquestion1-form .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;
    width: 100%;
}

.newquestion1-container .newquestion1-form .row2 .input {
    width: 100%;
}

.newquestion1-container .newquestion1-form .row2 .input .solution-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newquestion1-container .newquestion1-form .row2 .input .solution-bar .checkbox {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.newquestion1-container .newquestion1-form .row2 .input .solution-bar .checkbox input {
    width: 16px;
    height: 16px;
    margin-top: 0px;
    margin-right: 5px;
}


.newquestion1-container .newquestion1-form .row2 .input span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.newquestion1-container .newquestion1-form .row2 .input input {
    display: flex;
    flex-direction: column;
    border: 1px solid #DDDDDD;
    /* width: 430px; */
    width: 25.5vw;
    height: 50px;
    /* margin-top: 9px; */
    padding: 0px 20px;
    /* margin: 0px 24px; */
}


.newquestion1-container .newquestion1-form .row2 .input input text {
    margin-left: 10px;
}


.newquestion1-container .newquestion1-form .row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;
    width: 100%;
}

.newquestion1-container .newquestion1-form .row3 .input {
    width: 100%;
}

.newquestion1-container .newquestion1-form .row3 .input .button-difficulty {
    display: flex;
    flex-direction: row;
}

.newquestion1-container .newquestion1-form .row3 .input .button-difficulty .button {
    margin: 10px 10px;
    width: 110px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    cursor: pointer;
}

.newquestion1-container .newquestion1-form .row3 .input .button-difficulty .button svg {
    margin-right: 10px;
}

.newquestion1-container .newquestion1-form .row3 .input .button-difficulty .active-button {
    margin: 10px 10px;
    width: 110px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #00C49A;
}

.newquestion1-container .newquestion1-form .row3 .input .button-difficulty .active-button svg {
    margin-right: 10px;
}

.newquestion1-container .newquestion1-form .row3 .input .tag {
    position: relative;
    display: inline-block;
    /* justify-content: left; */
    right: 370px;
    bottom: 35px;
}

.newquestion1-container .newquestion1-form .row3 .input .search {
    position: relative;
    margin-left: 370px;
    bottom: 35px;
}

.newquestion1-container .newquestion1-form .row3 .input span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.newquestion1-container .newquestion1-form .row3 .input input {
    display: flex;
    flex-direction: column;
    border: 1px solid #DDDDDD;
    /* width: 430px; */
    width: 25.5vw;
    height: 50px;
    margin-top: 9px;
    padding: 0px 37px;
    /* margin: 0px 24px; */
}


.newquestion1-container .newquestion1-form .row3 .input input text {
    margin-left: 10px;
}